.projects {
  display: flex;
  flex-flow: column;
  align-items: center;

  .filters {
    padding-top: 2vh;
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    input {
      display: none;
    }

    label {
      text-decoration: none;
      color: var(--primary);
      text-transform: uppercase;
      background-color: var(--darkPlum);
      padding: 0.5vh 1vh;
      border: 1px solid var(--darkPrimary);
      border-radius: 6px;
      margin: 0.6vw;
      cursor: pointer;

      &:hover {
        color: var(--primary);
        background-color: var(--background);
        border-color: var(--primary);
      }
    }

    .active {
      color: var(--primary);
      background-color: var(--background);
      border-color: var(--primary);
    }
  }
}
