.education {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1 1 40%;
  text-align: center;
  margin: 1vh 1vw;
  background-color: var(--darkPlum);
  border-radius: 10px;
  padding: 1.5vh;

  img {
    height: 150px;
    width: auto;
  }

  &-field {
    font-weight: bold;
  }

  &-date {
    display: flex;
    flex-flow: row;
  }
}

@media screen and (max-width: 445px) {
  .education {
    &-school {
      display: none;
    }
  }
}
