.experience-dialog {
  .MuiPaper-root {
    display: flex;
    flex-flow: column;
    background-color: var(--darkPlum);
    border-radius: 10px;
    padding: 1.5vh;
    width: 70vw;
    max-width: unset;
    max-height: 70vh;
    color: var(--white);
    border: 1px solid var(--darkPrimary);
  }

  &-title {
    padding: 0 !important;
    display: flex;
    flex-flow: row;
    align-items: center;

    &-logo {
      height: 5vh;
      margin-right: 1vw;
      border-radius: 7px;
    }

    &-details {
      color: var(--white);
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      line-height: 1.2rem;

      span {
        color: var(--primary);
        font-weight: bold;
      }

      &-date,
      &-location {
        font-size: 1rem;
      }
    }
  }

  &-details {
    padding: 1vh 0;
    color: var(--white);

    &-technologies {
      display: flex;
      flex-flow: wrap;

      .skill {
        width: unset;
        padding: 10px;
      }
    }

    .app-title {
      padding: 2vh 0;
    }

    .assignment {
      padding-bottom: 2vh;

      &-title {
        font-weight: bold;
      }
      &-date {
      }
      &-industry {
      }
      &-technologies {
        display: flex;
        flex-flow: wrap;
        align-items: center;

        .skill {
          padding: 3px;
          width: unset;

          img {
            height: 25px;
          }
        }
      }

      &-contribution {
        color: var(--lightgray);
      }
    }
  }
}
