.recommendation {
  display: flex;
  flex-flow: column;
  line-height: 1.5rem;
  flex: 1 1 45%;
  margin: 1vh;

  &-content {
    padding: 2vh 2vw;
    cursor: pointer;

    .quotes {
      font-size: x-large;
      color: var(--darkPrimary);
      font-family: -webkit-body;
    }

    &:hover {
      background-color: var(--primary);
    }
  }

  &-author {
    display: flex;
    justify-content: right;
    color: var(--primary);
    padding: 0.5vh 0;
  }
}

@media screen and (max-width: 599px) {
  .recommendation {
    flex: 1 1 50%;

    &-content {
      padding: 2vh 3vw;
    }

    &-author {
      font-size: 0.8rem;
    }
  }
}
