.recommendation {
  display: flex;
  flex-flow: column;
  line-height: 1.5rem;
  flex: 1 1 45%;
  margin: 1vh;

  &-content {
    border: 1px solid var(--darkPrimary);
    border-radius: 10px;
    padding: 2vh 2vw;
    background: var(--darkPlum);

    &::before {
      content: '" ';
      font-size: x-large;
      color: var(--darkPrimary);
      font-family: -webkit-body;
    }

    &::after {
      content: ' "';
      font-size: x-large;
      color: var(--darkPrimary);
      font-family: -webkit-body;
    }
  }

  &-author {
    display: flex;
    justify-content: right;
    color: var(--primary);
    padding: 0.5vh 0;
  }
}

@media screen and (max-width: 599px) {
  .recommendation {
    &-author {
      font-size: 0.8rem;
    }
  }
}
