.project {
  display: flex;
  flex-flow: column;
  margin: 1vh 1vw;
  align-items: center;
  flex: 1 1 29%;

  &-image {
    min-height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
  }

  &-content {
    padding: 1.5vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: -webkit-fill-available;
    height: -webkit-fill-available;

    &-name {
      font-weight: bold;
    }

    a {
      margin-top: 1.5vh;
      width: fit-content;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 445px) {
  .project {
    flex: 1 1 50%;
  }
}
