.project {
  display: flex;
  flex-flow: column;
  margin: 1vh 1vw;
  align-items: center;
  cursor: pointer;

  &-image {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
  }

  &-name {
    font-weight: bold;
  }
}
