.skill {
  padding: 1.2vh 1.2vw;
  width: 85px;
  display: flex;
  flex-flow: column;
  align-items: center;

  img {
    height: 50px;
  }

  &-progress-bar {
    margin-top: 1.5vh;
    width: 100%;
    padding: 1px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: var(--darkPlum);

    &-fill {
      display: block;
      height: 10px;
    }
  }
}

@media screen and (max-width: 599px) {
  .skill {
    width: 70px;

    img {
      height: 40px;
    }
  }
}

@media screen and (max-width: 445px) {
  .skill {
    width: 50px;

    img {
      height: 30px;
    }

    &-progress-bar-fill {
      height: 5px;
    }
  }
}
