.experience {
  display: flex;
  flex-flow: column;
  margin: 1vh 1vw;
  align-items: center;
  flex: 1 1 25%;
  cursor: pointer;

  &:hover {
    background-color: var(--background);
  }

  &-image {
    height: 20vw;
    min-height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
  }

  &-content {
    text-align: center;
    display: flex;
    flex-flow: column;
    height: -webkit-fill-available;
    justify-content: space-between;
    padding-bottom: 1.5vh;

    &-role {
      font-weight: bold;
      padding: 1.5vh 0;
    }

    &-date {
      display: flex;
      flex-flow: row;
      justify-content: center;

      &-start {
      }
      &-end {
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .experience {
    flex: 1 1 51%;

    img {
      height: 120px;
    }

    &-content {
      &-date {
        font-size: 0.8rem;
      }
    }
  }
}
