.certification {
  margin: 1vh 1vw;

  img {
    height: 120px;
    width: auto;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 599px) {
  .certification {
    img {
      height: 100px;
    }
  }
}

@media screen and (max-width: 445px) {
  .certification {
    img {
      height: 65px;
    }
  }
}
