.publication {
  display: flex;
  flex-flow: row;
  margin: 1vh 1vw;
  flex: 1 1 45%;

  &-image {
    width: 15vw;
    min-width: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
  }

  &-content {
    padding: 1.5vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;

    &-title {
      font-weight: bold;
    }

    a {
      margin-top: 1.5vh;
      width: fit-content;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 445px) {
  .publication {
    &-content-title {
      font-size: 0.8rem;
    }

    &-image {
      min-width: 120px;
    }
  }
}
