.app {
  &-padding {
    padding: 2vh 10vw;
  }

  &-title {
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-size: 1.5rem;
  }

  &-content {
    padding-top: 2vh;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  &-button {
    text-decoration: none;
    color: var(--primary);
    text-transform: uppercase;
    background-color: var(--darkPlum);
    padding: 0.5vh 1vh;
    border: 1px solid var(--darkPrimary);
    border-radius: 6px;

    &:hover {
      color: var(--primary);
      background-color: var(--background);
      border-color: var(--primary);
    }
  }

  &-card {
    background: var(--border-gradient);
    z-index: 1;
    position: relative;
    border-radius: 10px;

    &::before {
      content: "";
      position: absolute;
      inset: 1px;
      background: var(--darkPlum);
      border-radius: inherit;
      z-index: -1;
    }
  }

  .copyright {
    color: var(--primary);
    padding: 10px;
    font-size: smaller;
    width: -webkit-fill-available;
    text-align-last: center;
    background: var(--darkPlum);
  }

  .down-arrow-dark {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: var(--darkPlum);
  }

  .down-arrow-light {
    background: var(--darkPlum);
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: var(--background);
  }
}

@media screen and (max-width: 599px) {
  .app-padding {
    padding: 2vh 7vw;
  }
}

@media screen and (max-width: 445px) {
  .app-title {
    font-size: 1.2rem;
  }
}
