.app {
  &-padding {
    padding: 2vh 10vw;
  }

  &-title {
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-size: 1.5rem;
  }

  &-content {
    padding-top: 2vh;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  .copyright {
    color: var(--primary);
    padding: 10px;
    font-size: smaller;
    width: -webkit-fill-available;
    text-align-last: center;
  }
}
