.banner {
  background: url(../../assets/images/banner-background.png);
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  flex-flow: column;
  justify-content: center;

  .subtitle {
    font-family: monospace;
    font-size: 1.7rem;
  }
  .title {
    font-size: 2rem;
    color: var(--primary);
  }
}
