.banner {
  background: url(../../assets/images/banner-background.png);
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  flex-flow: column;
  justify-content: center;

  .subtitle {
    font-family: monospace;
    font-size: 1.7rem;
    color: var(--lightgray);
  }

  .title {
    font-size: 2rem;
    color: var(--primary);
  }
}

@media screen and (max-width: 445px) {
  .banner {
    height: 50vh;

    .title {
      font-size: 1.5rem;
    }

    .subtitle {
      font-size: 1rem;
    }
  }
}
